<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPSSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044F5B901C78644E00492E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F5BA91C78644E00492E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F5BB41C78644E00492E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
